body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(images/fondoCarta2.png);

}

/*FONTS */
@font-face {
    font-family: "Serif-parrafo";
    src: url(./fonts/SerlioLH.ttf);
}

@font-face {
    font-family: "serif-parrafo-italic";
    src: url(./fonts/Bodoni-SvtyTwo-ITC-TT-BookIta.ttf);
}

@font-face {
    font-family: "cursiva";
    src: url(./fonts/H4cjBXOCl9bbnla_nHIq6qu_oqM\ \(1\).woff2);
}

@font-face {
    font-family: "formulario";
    src: url(./fonts/jkiticon.woff2);
}



/*ESTILOS MAIN*/
main {
    display: none;
    flex-direction: column;

}

/* ESTILOS PARA LA CARTA DISPOSITIVO MÓVIL (PANTALLA INICIAL) */

.carta {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100dvh;
    width: 100%;

}

.carta-imagen-inicial {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.carta-imagen-inicial img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.carta-sobre-izquierda {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 75%;
}

.carta-sobre-izquierda img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.carta-sobre-derecha {
    position: absolute;
    z-index: 4;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 65%;
}

.carta-sobre-derecha img {
    object-fit: cover;
    height: 100%;
}

.carta-boton {
    position: absolute;
    z-index: 5;
    top: 45%;
    left: 30%;
}

.carta-boton img {
    object-fit: cover;
    width: 100px;
}

/*ESTILOS MAIN*/


.intro {
    display: flex;
    justify-items: space-evenly;
    flex-direction: column;
    text-align: center;
}


/*ESTILOS ETIQUETAS GLOBALES*/


h3 {

    font-family: "serif-parrafo", serif;
    margin: 5%;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1.5px;
}

h4 {
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
    font-family: "serif-parrafo-italic", serif;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 1.5px;

}

h1 {
    margin-bottom: 0px;
    margin-top: 0%;
    margin-right: 2%;
    margin-left: 2%;
}

h2 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-size: 40px;
}

.parrafo {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    font-family: "serif-parrafo-italic", serif;
    font-size: 20px;
    letter-spacing: 2px;
}

.names {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: space-between;
    text-wrap: nowrap;
    padding: 0px;
}

.novios img {
    width: 90%;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
    scale: 0.8;
}

.title {
    font-family: "Cormorant", serif;
    text-align: center;
    font-size: 35PX;
    letter-spacing: 3.5px;
    margin-top: 5%;
    margin-bottom: 5%;
}

button {
    background-color: rgb(35, 34, 34);
    color: white;
    border-radius: 20px;
    padding: 5px;
    font-weight: 400;
    width: 140px;
    height: 40px;
    font-size: large;
    font-family: 'Playfair Display", serif';
    transition: background-color 0.5s ease-in-out, font-size 0.3s linear;
}

button:hover {
    cursor: pointer;
    font-size: 110%;
    background-color: rgb(51, 53, 53);
}

/*ESTILOS SECCIÓN FECHA*/

.fecha {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 0px;
}

.fecha-derecha {
    margin-left: 0px;
    padding: 0px;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fecha-derecha-mes {
    font-size: 28px;
    margin-top: 5%;
    margin-left: 0px;
    margin-bottom: 0px;
}

.fecha-derecha-dia {
    font-size: 70px;
    margin-top: 0%;
    margin-bottom: 2%;
}

.fecha-derecha-año {
    font-size: 35px;
    margin-top: 5%
}

.fecha-division {
    padding: 0%;
    margin: 1%;
    width: 2px;
    background-color: black;
}

.fecha-izquierda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15%;
    align-items: center;
    margin-left: 0px;
    margin-right: 5%;
}

.fecha-izquierda-hora {
    font-size: 60px;
    margin-bottom: 1%;
    margin-top: 50%;
}


/*ESTILOS SECCIÓN UBICACIONES*/


.ubicaciones-ceremonia {
    text-align: center;
    justify-items: center;
    align-items: center;
    margin: 5%;
}

.ubicaciones-ceremonia img {
    width: 200px;
    margin: 0px;

}

.ubicaciones-ceremonia-lugar,
.ubicaciones-recepcion-lugar {
    font-size: 23px;
    margin-top: 1%;
}

.ubicaciones-ceremonia-hora,
.ubicaciones-recepcion-hora {
    font-size: 20px;
}

.ubicaciones-ceremonia-direccion,
.ubicaciones-recepcion-direccion {
    font-family: "serif-parrafo-italic", serif;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.ubicaciones-recepcion {
    text-align: center;
    justify-items: center;
}

.ubicaciones-recepcion img {
    width: 150px;
    margin-top: 10%;
    margin-bottom: 5%;
}

.segunda-imagen img {
    margin-top: 1em;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);

}

/*ESTILOS SECCIÓN ITINERARIO*/

.itinerario {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.itinerario-derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
    margin-left: 3%
}


.itinerario-izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

.itinerario-izquierda-C1,
.itinerario-izquierda-C2,
.itinerario-izquierda-C3,
.itinerario-izquierda-C4,
.itinerario-derecha-C5,
.itinerario-derecha-C6,
.itinerario-derecha-C7,
.itinerario-derecha-C8 {
    width: 100px;
    height: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.itinerario-division {
    position: relative;
}

.itinerario-division-vertical {
    margin: 1%;
    width: 2px;
    background-color: black;
    height: 100%;
}

.itinerario-division-horizontal-1 {
    top: 70px;
    left: -35px;
    background-color: black;
    width: 70px;
    height: 1.5px;
    position: absolute;
    z-index: 2;
}

.itinerario-division-horizontal-2 {
    width: 70px;
    background-color: black;
    height: 1.5px;
    position: absolute;
    z-index: 2;
    top: 220px;
    left: -35px;
}

.itinerario-division-horizontal-3 {
    width: 70px;
    background-color: black;
    height: 1.5px;
    position: absolute;
    z-index: 2;
    top: 370px;
    left: -35px;
}

.itinerario-division-horizontal-4 {
    width: 70px;
    background-color: black;
    height: 1.5px;
    position: absolute;
    z-index: 2;
    top: 520px;
    left: -35px;
}

/*ESTILO SECCIÓN COUNTDOWN*/

.cuenta-regresiva {
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.cuenta-regresiva-leyenda {
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: white;
    position: absolute;
    z-index: 1;
    margin: 0;
    top: 20px;
    font-family: "Rouge Script", cursive;
    font-weight: 500;
    font-size: 55px;
}

.cuenta-regresiva-datos {
    color: white;
    position: absolute;
    z-index: 2;
    width: 90%;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.contador-dias {
    position: absolute;
    z-index: 2;
    bottom: 8%;
    left: 20%;
}

.contador-dias-leyenda {
    position: absolute;
    z-index: 2;
    top: 1%;
    left: 24.5%;
}

.contador-horas {
    position: absolute;
    z-index: 2;
    bottom: 8%;
    left: 39.5%
}

.contador-horas-leyenda {
    position: absolute;
    z-index: 2;
    top: 1%;
    left: 40%;
}

.contador-minutos {
    position: absolute;
    z-index: 2;
    bottom: 8%;
    right: 32%
}

.contador-minutos-leyenda {
    position: absolute;
    z-index: 2;
    top: 1%;
    right: 35.5%;
}

.contador-segundos {
    position: absolute;
    z-index: 2;
    bottom: 10%;
    right: 22%;
}

.contador-segundos-leyenda {
    position: absolute;
    z-index: 2;
    top: 1%;
    right: 20%;
}

.contador-dias,
.contador-horas,
.contador-minutos,
.contador-segundos {
    font-size: 30px;
}

.contador-dias-leyenda,
.contador-horas-leyenda,
.contador-minutos-leyenda,
.contador-segundos-leyenda {
    font-size: 8px;
}

.cuenta-regresiva-imagen {
    width: 100%;
    overflow: hidden;
}

.cuenta-regresiva-imagen img {
    width: 100%;
    filter: grayscale(100%);
    scale: 1.2;
}

/*ESTILOS SECCIÓN DETALLES (VESTIMENTA, REGALOS)*/

.detalles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title-2 {
    font-family: "Cormorant", serif;
    text-align: center;
    font-size: 35PX;
    letter-spacing: 3.5px;
    text-align: center;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;

}

.detalles-vestimenta img {
    margin-top: 2%;
    width: 300px;
    margin-bottom: 5%;
}

.detalles-vestimenta p {
    font-family: "serif-parrafo-italic", serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 2px;
    ;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.detalles-regalos {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
}



.detalles-regalos-cuenta {
    margin-top: 10%;
    margin-bottom: 5%;
}

.detalles-regalos-parrafo {
    font-size: 20px;
    margin-bottom: 5%;
    letter-spacing: 2.5PX;
    margin-left: 2%;
    margin-right: 2%;

}

.confirmacion-pase {
    display: flex;
    justify-content: center;
}

.confirmacion img {
    width: 50px;
    filter: brightness(0%);
}

.enfasis {
    font-size: 25px;
    letter-spacing: 3px;
}

.pase {
    font-size: 30px;
    letter-spacing: 3px;
}

.detalles-regalos-cuenta p {
    font-family: "serif-parrafo-italic", serif;
    font-weight: 100;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin: 2%;
}

/*ESTILOS SECCIÓN GALERIA*/

.mySwiper {
    width: 95%;
    height: 95vh;
    overflow: hidden;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* Wrapper de slides */
.swiper-wrapper {
    display: flex;
    flex: 1;
    align-items: stretch;
}

/* Slide individual */
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    position: absolute;
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    min-height: 0;
}

/* Botones básicos */
/*
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    z-index: 10;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}
*/

/* Paginación básica */
.swiper-pagination {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.swiper-pagination-bullet {
    display: inline-block;
    width: 7px;
    height: 7px;
    background: gray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background: black;
}


/*ESTILOS SECCIÓN CONFIRMACIÓN */

.confirmacion {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.confirmacion h2,
.confirmacion h3,
.confirmacion p {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.confirmacion-formulario button {
    width: 150px;
    font-size: 12px;
    margin-bottom: 15px;
    margin: auto;
}

.confirmacion p {
    font-family: "serif-parrafo-italic", serif;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 2%;

}

.confirmacion-formulario {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.confirmacion-formulario label {
    font-family: "formulario", serif;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 5px;
}

.confirmacion-formulario input,
select,
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    font-family: "formulario", serif;
    font-style: italic;
    font-size: medium;
}

dialog {
    border: none;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    text-align: center;
    ;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}


.ultima-imagen img {
    padding-top: 1em;
    height: 100%;
    width: 100%;
    filter: grayscale(100%)
}

.iniciales img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

footer {
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    background-color: black;
    height: 150px;
}

footer p {
    color: white;
    font-size: 12px;
}

/* ESTILOS PARA LA CARTA DISPOSITIVO ESCRITORIO (PANTALLA INICIAL) */

@media (min-width: 601px) {
    .carta {
        display: flex;
        position: relative;
        z-index: 0;
        height: 100dvh;
        width: 100%;
        overflow: hidden;

    }

    .carta-imagen-inicial {
        position: absolute;
        overflow: hidden;
        z-index: 1;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .carta-imagen-inicial img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
    }

    .carta-sobre-izquierda {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 75%;
        z-index: 2;
    }

    .carta-sobre-izquierda img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .carta-sobre-derecha {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 60%;
        z-index: 3;
    }

    .carta-sobre-derecha img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .carta-boton {
        position: absolute;
        top: 45%;
        left: 37%;
        z-index: 4;
    }

    .carta-boton img {
        object-fit: cover;
        width: 150px;
    }

    main {
        max-width: 375px;
        margin: auto;
    }

}